.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: #fff;
    color: #333;
}

.nav-link {
    list-style: none;
}

.nav-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    list-style: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50% {
        color: #fff;
        text-shadow: none;
    }

    51%,
    100% {
        color: gray;
        text-shadow: 0 0 5px #007BFF;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    margin-right: 0.5rem;
}